<div id="title-Container">Community</div>
<div id="search-Label">Search for people</div>
<div id="search-Container">
    <div class="searchBox">
        <div class="box" id="box">
            <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="filterUsers()">
            <a><i class="fas fa-search"></i></a>
        </div>
    </div>
</div>
<div class="line"></div>
<div id="profile-Container">
    <div *ngFor="let profile of profiles">
        <app-user-card [profile]="profile"></app-user-card>
    </div>
</div>