<div id="title-Container">Community</div>
<div id="search-Label">Search for people</div>
<div id="search-Container">
    <div class="searchBox">
        <div class="box" id="box">
            <input type="text" placeholder="Search...">
            <a><i class="fas fa-search"></i></a>
        </div>
    </div>
</div>
<div class="line"></div>
<div id="profile-Container">
    <app-user-card [data]="userData"></app-user-card>
    <app-user-card [data]="userData"></app-user-card>
    <app-user-card [data]="userData"></app-user-card>
    <app-user-card [data]="userData"></app-user-card>
    <app-user-card [data]="userData"></app-user-card>
    <app-user-card [data]="userData"></app-user-card>
</div>