<app-banner-carousel></app-banner-carousel>
<div class="line"></div>
<div class="subtitle">
    Las mejores peliculas del 2023
</div>
<app-poster-carousel [carouselId]="'movieSlider'"></app-poster-carousel>
<div class="line"></div>
<div class="subtitle">
    Las mejores series del 2023
</div>
<app-poster-carousel [carouselId]="'movieSlider2'"></app-poster-carousel>
<div class="line"></div>
<div class="subtitle">
    Peliculas estreno
</div>
<app-poster-carousel [carouselId]="'movieSlider3'"></app-poster-carousel>
<div class="line"></div>
<div class="subtitle">
    Nuevas series y temporadas
</div>
<app-poster-carousel [carouselId]="'movieSlider4'"></app-poster-carousel>