<app-banner-carousel></app-banner-carousel>
<div class="line"></div>
<div *ngIf="productionsClassified">
    <div class="subtitle">Best movies of 2023</div>
    <app-poster-carousel [carouselId]="'movieSlider'" [productions]="bestMovies"></app-poster-carousel>
    <div class="line"></div>
  
    <div class="subtitle">Best series of 2023</div>
    <app-poster-carousel [carouselId]="'movieSlider2'" [productions]="bestSeries"></app-poster-carousel>
    <div class="line"></div>
  
    <div class="subtitle">Premiere movies</div>
    <app-poster-carousel [carouselId]="'movieSlider3'" [productions]="premiereMovies"></app-poster-carousel>
    <div class="line"></div>
  
    <div class="subtitle">New series and seasons</div>
    <app-poster-carousel [carouselId]="'movieSlider4'" [productions]="newSeries"></app-poster-carousel>
    <div class="line"></div>
</div>