<div id="posterCarouselBase">
    <div class="posterCarousel">
        <div class="splide" [id]="carouselId">
            <div class="splide__arrows"></div>
            <div class="splide__track" id="splideContainer">
                <ul class="splide__list">
                    <li class="splide__slide" *ngFor="let production of productions">
                        <div class="posterContainer">
                            <div class="whiteLine"></div>
                            <div class="poster" (click)="redirectToProduction(production._id)">
                                <img class="posterImage" [src]="production.poster">
                                <div class="gradient"></div>
                            </div>
                            <div class="posterInfo">
                                <div class="posterTitle">{{production.name}}</div>
                                <div class="posterCali">
                                    <i class="fas fa-star"></i>
                                    <div class="calificacion">{{production.rating}}</div>
                                </div>
                            </div>
                            <div class="whiteLine"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="splide__pagination"></ul>
        </div>
    </div>
</div>