.splide__pagination {
    display: none;
}

@media screen and (min-width:1024px) 
{
    #posterCarouselBase{
        width: 100%;
        height: 550px;
        margin-top: 20px;
        background-color: #1C1C1C;
    }
    
    .posterCarousel{
        width: 100%;
        height: 100%;
    }

    #movieSlider {
        height: 100%;
    }

    #movieSlider2 {
        height: 100%;
    }

    #movieSlider3 {
        height: 100%;
    }

    #movieSlider4 {
        height: 100%;
    }
    
    .posterContainer{
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    
    .whiteLine{
        width: 1px;
        height: 78%;
        background-color: #fff;
    }
    
    .poster{
        width: 85%;
        height: 78%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gradient{
        width: 85%;
        height: 40%;
        background: linear-gradient(to top, rgba(28,28,28,255), rgba(0, 0, 0, 0));
        position: absolute;
        align-self: flex-end;
    }
    
    .posterImage{
        width: 100%;
        object-fit: cover;
    }
    
    .posterInfo{
        width: 100%;
        height: 35%;
        position: absolute;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .posterTitle{
        width: 75%;
        height: 35%;
        margin-top: 10%;
        color: #fff;
        font-size: 1.7rem;
        font-family: Bebas Neue;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }
    
    .posterCali{
        width: 75%;
        height: 20%;
        display: flex;
        align-items: center;
    }
    
    i{
        font-size: 1.5rem;
        color: #e4d804;
    }
    
    .calificacion{
        font-family: Bebas Neue;
        font-size: 2rem;
        padding-left: 5%;
        color: #fff;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) 
{
    #posterCarouselBase{
        width: 100%;
        height: 550px;
        margin-top: 20px;
        background-color: #1C1C1C;
    }
    
    .posterCarousel{
        width: 100%;
        height: 100%;
    }
    
    .posterContainer{
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        display: flex;
        justify-content: space-between;
        padding-top: 7%;
    }
    
    .whiteLine{
        width: 1px;
        height: 78%;
        background-color: #fff;
    }
    
    .poster{
        width: 85%;
        height: 78%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gradient{
        width: 85%;
        height: 40%;
        background: linear-gradient(to top, rgba(28,28,28,255), rgba(0, 0, 0, 0));
        position: absolute;
        align-self: flex-end;
    }
    
    .posterImage{
        width: 100%;
        object-fit: cover;
    }
    
    .posterInfo{
        width: 100%;
        height: 35%;
        position: absolute;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .posterTitle{
        width: 75%;
        height: 35%;
        margin-top: 10%;
        color: #fff;
        font-size: 3vw;
        font-family: Bebas Neue;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }
    
    .posterCali{
        width: 75%;
        height: 20%;
        display: flex;
        align-items: center;
    }
    
    i{
        font-size: 2.5vw;
        color: #e4d804;
    }
    
    .calificacion{
        font-family: Bebas Neue;
        font-size: 3vw;
        padding-left: 5%;
        color: #fff;
    }
}

@media screen and (max-width:768px) 
{
    #posterCarouselBase{
        width: 100%;
        height: 550px;
        margin-top: 2%;
        background-color: #1C1C1C;
    }
    
    .posterCarousel{
        width: 100%;
        height: 100%;
    }
    
    .posterContainer{
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        display: flex;
        justify-content: space-between;
        padding-top: 7%;
    }
    
    .whiteLine{
        width: 1px;
        height: 78%;
        background-color: #fff;
    }
    
    .poster{
        width: 85%;
        height: 78%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gradient{
        width: 85%;
        height: 40%;
        background: linear-gradient(to top, rgba(28,28,28,255), rgba(0, 0, 0, 0));
        position: absolute;
        align-self: flex-end;
    }
    
    .posterImage{
        width: 100%;
        object-fit: cover;
    }
    
    .posterInfo{
        width: 100%;
        height: 35%;
        position: absolute;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .posterTitle{
        width: 75%;
        height: 35%;
        margin-top: 10%;
        color: #fff;
        font-size: 3vw;
        font-family: Bebas Neue;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }
    
    .posterCali{
        width: 75%;
        height: 20%;
        display: flex;
        align-items: center;
    }
    
    i{
        font-size: 2vw;
        color: #e4d804;
    }
    
    .calificacion{
        font-family: Bebas Neue;
        font-size: 2.5vw;
        padding-left: 5%;
        color: #fff;
    }
    
    .splide__arrows {
        display: none !important;
    }
}