    <div  id="profile-Container">
        <div id="corazon" *ngIf="authService.isAuthenticated() && user?._id !== authService.getIdUser()">
        <i class="fas fa-heart"
        [ngClass]="{'corazon-lleno': isFollowing, 'corazon-vacio': !isFollowing}"
        [ngStyle]="{'color': isFollowing ? '#ffd700' : '#e2e2e2'}"
        (click)="toggleFollow()"></i>
    </div>

    <div id="profile-Image">
        <img id="profileImg" *ngIf="user?.photo" [src]="user?.photo">
    </div>
    <div id="name-Container">
        <div class="line"></div>
        <div id="title">{{ user?.username }}</div>
        <div class="line"></div>
    </div>
    <div id="follow">
        <div>Followers:</div><div id="followersNo"> {{ user?.followers }} </div>
        <div>Following:</div><div id="followingNo"> {{ user?.follow }} </div>
    </div>
</div>