<div  id="profile-Container">
    <div id="corazon" class="corazon-vacio" *ngIf="userlog.getIsLogged()">
        <i class="fas fa-heart" (click)="selectHeart($event)"></i>
    </div>
    
    <div id="profile-Image">
        <img id="profileImg" *ngIf="user?.photo" [src]="user?.photo">
    </div>
    <div id="name-Container">
        <div class="line"></div>
        <div id="title">{{ user?.username }}</div>
        <div class="line"></div>
    </div>
    <div id="follow">
        <div>Followers:</div><div id="followersNo"> {{ user?.followers }} </div>
        <div>Following:</div><div id="followingNo"> {{ user?.follow }} </div>
    </div>
</div>