<div id="Banner">
    <div class="splide" id="bannerSlider">
        <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
                Prev
            </button>
            <button class="splide__arrow splide__arrow--next">
                Next
            </button>
        </div>
        <div class="splide__track" id="splideContainer">    
            <ul class="splide__list">
                <li class="splide__slide" *ngFor="let production of bannerProductions"><img class="bannerImage" [src]="production.banner" (click)="redirectToProduction(production._id)"></li>
            </ul>
        </div>
        <ul class="splide__pagination"></ul>
    </div>
</div>
<div class="my-carousel-progress">
    <div class="my-carousel-progress-bar"></div>
</div>