.splide__arrow {
    display: none !important;
}

.my-carousel-progress {
    background: #e2e2e2;
}
  
.my-carousel-progress-bar {
    background: #0f0f0f;
    height: 5px;
    transition: width 400ms ease;
    width: 0;
}

@media screen and (min-width:1024px) 
{
    #Banner{
        width: 100%;
        height: 512px;
    }

    #bannerSlider {
        height: 100%;
    }
    
    .bannerImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    #splideContainer {
        height: 512px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) 
{
    #Banner{
        width: 100%;
        height: 512px;
    }

    #bannerSlider {
        height: 100%;
    }
    
    .bannerImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    #bannerSlider .splide__pagination__page{
        width: 15px;
        height: 15px;
        margin: 5px 5px;
    }   

    .bannerContainer{
        width: 100%;
    }
}

@media screen and (max-width:768px) 
{
    #Banner{
        width: 100%;
        height: 512px;
    }

    #bannerSlider {
        height: 100%;
    }
    
    .bannerImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    #bannerSlider .splide__pagination__page{
        width: 100%;
        height: 100%;
        margin: 5px 5px;
    }

    .bannerContainer{
        width: 100%;
    }
}