<div id="container">
    <div id="page-Container">
        <div id="title-Container">Edit Profile</div>
        <div class="line"></div>
        <div class="edit-Container">
            <div class="label">Nickname</div>
            <input class="text" type="text" placeholder="Write here...">
            <div class="label">URL of the profile image</div>
            <input class="text" type="text" placeholder="Write here...">
            <div class="label">About me description</div>
            <input class="text" type="text" placeholder="Write here...">
            <button id="add-Button">Edit</button>
        </div>
    </div>
</div>