<div id="container">
    <div id="page-Container">
        <div id="title-Container">Edit Profile</div>
        <div class="line"></div>
        <div class="edit-Container">
            <div class="label">Nickname</div>
            <input id="username" class="text" type="text" placeholder="Write here...">
            <div class="label">URL of the profile image</div>
            <input id="photo" class="text" type="text" placeholder="Write here...">
            <div class="label">About me description</div>
            <input id="description" class="text" type="text" placeholder="Write here...">
            <button id="edit-Button" (click)="onSubmit()">Edit</button>
        </div>
    </div>
</div>