<div id="title-Container">Movies</div>
<div id="toggle">
    <div class="form-box">
        <div id="button-box">
            <div id="btn"></div>
            <div class="btn-Content">
                <button type="button" class="toggle-btn" id="btn-Left" (click)="fetchFilteredProductions(1)">Movies</button>
                <button type="button" class="toggle-btn" id="btn-Right" (click)="fetchFilteredProductions(2)">Series</button>
            </div>
        </div>
    </div>
</div>
<div id="search-Label">Search for movies</div>
<div id="search-Container">
    <div class="searchBox">
        <div class="box" id="box">
            <input type="text" placeholder="Search...">
            <a><i class="fas fa-search"></i></a>
        </div>
    </div>
    <div id="filters-Container">
        <div class="filter">All</div>
        <div class="filter">Action</div>
        <div class="filter">Comedy</div>
        <div class="filter">Romantic</div>
        <div class="filter">Horror</div>
    </div>
</div>
<div class="line"></div>
<div id="productions-Container">
    <app-production-card class="production" *ngFor="let production of productions" [production]="production"></app-production-card>
</div>