<div id="commentaries-Container">
    <div class="comment-Container">
        <div class="comment-Info">
            <div class="poster-Container" (click)="redirectToProduction(comment!.id_production)">
                <img class="posterImage" *ngIf="production?.poster" [src]="production.poster">
            </div>
            <div class="cal-Container">
                <i class="fas fa-star" *ngFor="let i of getStarsArray(comment!.stars)"></i>
            </div>
        </div>
        <div class="text">{{ comment?.comment  }}</div>
    </div>
</div>