<div id="poster-Container">
    <div id="id-Material" *ngIf="production">Id = {{production._id}}</div>
    <div id="poster">
        <img id="poster-Image" *ngIf="production" [src]="production.poster">
    </div>
    <div id="name-Container">
        <div id="title" *ngIf="production">{{production.name}}</div>
        <div class="line"></div>
        <div id="cali-Container">
            <i class="fas fa-star" id="star"></i>
            <div id="calificacion" *ngIf="production">{{production.rating}}</div>
        </div>
        <div class="line"></div>
        <div class="text-Container">
            <div class="charact">Genre:</div>
            <div class="info" id="genre" *ngIf="production">{{production.genre}}</div>
        </div>
        <div class="text-Container">
            <div class="charact">Rating:</div>
            <div class="info" id="rating" *ngIf="production">{{production.classification}}</div>
        </div>
        <div class="text-Container">
            <div class="charact">Director:</div>
            <div class="info" id="director" *ngIf="production">{{production.director}}</div>
        </div>
        <div class="text-Container">
            <div class="charact">Writer:</div>
            <div class="info" id="writer" *ngIf="production">{{production.writer}}</div>
        </div>
        <div class="text-Container">
            <div class="charact">Cast:</div>
            <div class="info" id="cast" *ngIf="production">{{production.cast}}</div>
        </div>
        <div class="text-Container">
            <div class="charact">Release Date:</div>
            <div class="info" id="release" *ngIf="production">{{production.release}}</div>
        </div>
        <div class="text-Container">
            <div class="charact">Runtime:</div>
            <div class="info" id="runtime" *ngIf="production">{{production.runtime}}</div>
        </div>
    </div>
</div>
<div class="line"></div>
<div id="subtitle">Commentaries</div>
<div class="line"></div>
<div id="addComment">
    <div id="label">Add a comment. (500 characters max.)</div>
    <div class="comment-Container">
        <div class="text">
            <textarea id="text-Comment" placeholder="Comment..." maxlength="500"></textarea>
        </div>
    </div>
    <div id="cal-Selector">
        <div class="cal-Container" id="cal-Stars">
            <i class="fas fa-star" (click)="selectStar($event)"></i>
            <i class="fas fa-star" (click)="selectStar($event)"></i>
            <i class="fas fa-star" (click)="selectStar($event)"></i>
            <i class="fas fa-star" (click)="selectStar($event)"></i>
            <i class="fas fa-star" (click)="selectStar($event)"></i>
        </div>
        <button id="submit" (click)="submitComment()">Submit</button>
    </div>
</div>
<div class="line"></div>
<div id="commentaries-Container" *ngFor="let comment of comments">
    <app-commentary-box class="comment-Container" [comment]="comment"></app-commentary-box>
</div>