@media screen and (min-width:1024px) {
    .posterContainer{
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        display: flex;
        flex-direction: column;
    }
    
    .poster{
        width: 100%;
        height: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .posterImage{
        width: 100%;
        object-fit: cover;
    }
    
    .posterInfo{
        width: 100%;
        height: 35%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .posterTitle{
        width: 75%;
        height: 35%;
        margin-top: 5%;
        color: #fff;
        font-size: 1.1rem;
        font-family: Bebas Neue;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }
    
    .posterCali{
        width: 75%;
        height: 20%;
        display: flex;
        align-items: center;
        margin-bottom: 5%;
    }
    
    i{
        font-size: 1.5rem;
        color: #e4d804;
    }
    
    .calificacion{
        font-family: Bebas Neue;
        font-size: 1.5rem;
        padding-left: 5%;
        color: #fff;
    }
}


@media screen and (min-width:768px) and (max-width:1024px) {
    .posterContainer{
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        display: flex;
        flex-direction: column;
    }
    
    .poster{
        width: 100%;
        height: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .posterImage{
        width: 100%;
        object-fit: cover;
    }
    
    .posterInfo{
        width: 100%;
        height: 35%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .posterTitle{
        width: 75%;
        height: 35%;
        margin-top: 5%;
        color: #fff;
        font-size: 1.7vw;
        font-family: Bebas Neue;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }
    
    .posterCali{
        width: 75%;
        height: 20%;
        display: flex;
        align-items: center;
        margin-bottom: 5%;
    }
    
    i{
        font-size: 1.7vw;
        color: #e4d804;
    }
    
    .calificacion{
        font-family: Bebas Neue;
        font-size: 1.7vw;
        padding-left: 5%;
        color: #fff;
    }
}

@media screen and (max-width:768px) {
    .posterContainer{
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        display: flex;
        flex-direction: column;
    }
    
    .poster{
        width: 100%;
        height: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .posterImage{
        width: 100%;
        object-fit: cover;
    }
    
    .posterInfo{
        width: 100%;
        height: 35%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .posterTitle{
        width: 75%;
        height: 35%;
        margin-top: 5%;
        color: #fff;
        font-size: 1.7vw;
        font-family: Bebas Neue;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
    }
    
    .posterCali{
        width: 75%;
        height: 20%;
        display: flex;
        align-items: center;
        margin-bottom: 5%;
    }
    
    i{
        font-size: 1.7vw;
        color: #e4d804;
    }
    
    .calificacion{
        font-family: Bebas Neue;
        font-size: 1.7vw;
        padding-left: 5%;
        color: #fff;
    }
}