<div id="menu">
    <div id="menu-top">
        <a routerLink="./home" id="logo"></a>
        <div id="mainListDiv" class="main_list">
            <div class="list" id="listMenu">
                <a routerLink="./production" class="link">Peliculas/Series</a>
                <a routerLink="./community" class="link">Comunidad</a>
                <ng-container *ngIf="userlog.getIsLogged(); else notLoggedIn" >
                    <a [routerLink]="['/profile' , userlog.getData()._id]" class="link">Profile</a>
                    <a routerLink="./home" class="link" (click)="userlog.cleanUser()">Cerrar Sesion </a>
                </ng-container>
                <ng-template #notLoggedIn>
                    <a routerLink="./login" class="link"> Iniciar Sesion</a>
                </ng-template>
            </div>
        </div>
        <div class="menu-toggle" (click)="toggleSecondList()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div id="secondListDiv">
        <div class="List" id="ListMenu2">
            <a routerLink="./production" class="link">Peliculas/Series</a>
            <a routerLink="./community" class="link">Comunidad</a>
            <a routerLink="./login" class="link">Iniciar Sesion</a>
        </div>
    </div>
</div>